/* From Uiverse.io by Xtenso */

.filter-switch {
    border: 2px solid var(--THEME_COLOR_BORDER);
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    width: 200px;
    overflow: hidden;
    box-shadow: rgb(44, 128, 218) 0px 20px 30px -10px;
}

/* Media queries cho responsive */
@media screen and (max-width: 768px) {
    .filter-switch {
        height: 80px;
        width: 160px;
    }
    .filter-switch .background {
        height: 70px;
    }
    .filter-switch label {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .filter-switch {
        height: 60px;
        width: 120px;
    }
    .filter-switch .background {
        height: 50px;
    }
    .filter-switch label {
        font-size: 14px;
    }
}

.filter-switch input {
    display: none;
    pointer-events: none; /* Vô hiệu hóa sự kiện nhấp chuột */
}

.filter-switch label {
    flex: 1;
    text-align: center;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 18px;
}

.filter-switch .background {
    position: absolute;
    width: 46%;
    height: 90px;
    background-color: var(--COLOR_CONTENT_ADMIN);

    top: 4px;
    left: 4px;
    border-radius: 50%;
    transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#option2:checked~.background {
    left: 50%;
}

#option1:checked+label[for="option1"] {
    color: var(--THEME_COLOR_FONT);
    font-weight: bold;
}

#option2:checked+label[for="option2"] {
    color: var(--THEME_COLOR_FONT);
    font-weight: bold;
}

#option1:not(:checked)+label[for="option1"],
#option2:not(:checked)+label[for="option2"] {
    color: #7d7d7d;
}

#option1+label[for="option1"] {
    padding-left: 4px;
}

#option2+label[for="option2"] {
    padding-right: 4px;
}